# Backend
SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,backend
EXTRA_ALLOWED_HOSTS=backend

DB_NAME=postgres
DB_USER=postgres.xxxxx
DB_PASSWORD=your-password
DB_HOST=aws-0-xxx.pooler.supabase.com
DB_PORT=6543

EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_VIDEO_CHUNK_SIZE=20000000

# Monitoring
GRAFANA_ADMIN_PASSWORD=change-me
